<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.naijaguru.naijakeyboard</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>naijakeyboard</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>CabinetGrotesk-Variable.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Italic</string>
		<string>Poppins-Light</string>
		<string>Poppins-LightItalic</string>
		<string>Poppins-Medium</string>
		<string>Poppins-Regular</string>
		<string>Poppins-SemiBold</string>
		<string>Poppins-SemiBolItalic</string>
		<string>Poppins-Thin</string>
		<string>Poppins-ThinItalic</string>
	</array>
</dict>
</plist>
